* {
  font-family: "EB Garamond", serif;
}
body {
  margin: 0;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
    z-index: 5;
  }

  25% {
    transform: translate(0);
  }

  50% {
    opacity: 1;
  }

  90% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
    z-index: -5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.appear-disappear {
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
