* {
  font-family: "EB Garamond", serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.carousel-work {
  display: block;
  padding: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
    z-index: 5;
  }

  25% {
    transform: translate(0);
  }

  50% {
    opacity: 1;
  }

  90% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
    z-index: -5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.image-thumbnail {
  width: 100%;
  padding: 1em;
  margin: 0;
  object-fit: cover;
  scale: 1;
  transition: scale 0.5s;
}

@media (min-width: 970px) {
  .preview {
    height: 80vh;
    max-height: 90vh;
  }
}

.preview {
  max-width: 100%;
  object-fit: contain;
}

.preview-modal {
  background: rgba(0, 0, 0, 0.548);
  z-index: 1;
}

.image-thumbnail:hover,
.image-thumbnail:focus {
  scale: 1.05;
  cursor: pointer;
}
